@model IEnumerable<UsersCompanies.Web.Models.CompanyViewModel>

@{
    ViewBag.Title = "Companies";
}

<h2>Companies</h2>

<p>
    <a asp-action="CreateCompany" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Users", "GetUsersByCompanyId", new { companyId = item.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Jobs", "GetJobsByCompanyId", new { companyId = item.Id }, new { @class = "btn btn-warning" })
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCompany", new { id = item.Id }, new { @class = "btn btn-success" })
                @Html.ActionLink("Delete", "DeleteCompany", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>